body {
	margin: 0;
	overflow: hidden;
}

canvas {
	cursor: none;
}

button {
	position: fixed;
	background: transparent;
    color: rgb(240, 210, 200);
	display: inline-block;
    border: 2px dashed rgba(240, 210, 200, 58%);
	text-align: left;
	font-size: inherit;
	cursor: pointer;
}

button:hover {
	border-style: solid;
}

button.buy {
	width: 114px;
}

button.selected {
	border-color: rgba(121, 80, 242, 88%);
}
